:root{
    --container-bg-color: #333;
    --split-bg-color: rgba(92,92,92,0.3);
    --hover-width: 75%;
    --other-width:25%;
    --speed: 1000ms;
    --east-conf-color: #0066ab;
    --west-conf-color: #ee174a;
    /*Team Colors On Card Hover :
EAST:
*/
    --atlanta-hawks-color: #E03A3E;
    --boston-celtics-color: #007A33;
    --brooklyn-nets-color: #000000;
    --charlotte-hornets-color: #1D1160;
    --chicago-bulls-color: #CE1141;
    --cleveland-cavaliers-color:#6F263D;
    --detorit-pistons-color: #ED174C;
    --indiana-pacers-color: #FDBB30;
    --miami-heat-color: #98002E;
    --milwaukee-bucks-color: #00471B;
    --new-york-knicks-color: #F58426;
    --orlando-magic-color: #0077C0;
    --philadelphia-76ers-color: #006BB6;
    --toronto-raptors-color: #CE1141;
    --washington-wizards-color: #002B5C;

/* WEST */

--dallas-mavericks-color: #00538C;
--denver-nuggets-color: #0E2240;
--golden-state-warriors-color: #FDB927;
--houston-rockets-color: #C4CED4;
--los-angeles-clippers-color: #006BB6;
--los-angeles-lakers-color: #FDB927;
--memphis-grizzlies-color: #6189B9;
--minnesota-timberwolves-color: #0C2340;
--new-orleans-pelicans-color: #0C2340;
--oklahoma-city-thunder-color: #007AC1;
--phoenix-suns-color: #1D1160;
--portland-trail-blazers-color: #E03A3E;
--sacramento-kings-color: #5A2D81;
--san-antonio-spurs-color: #C4CED4;
--utah-jazz-color: #002B5C;
}

  /* inherit border-box on all elements in the universe and before and after
   */
  

html,body{
    padding: 0;
    margin: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow",Arial,sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.main-container{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
}
.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.split.left{
    left: 0;
    background: url("https://sportsfly.cbsistatic.com/fly-825/bundles/sportsmediacss/images/team-logos/nba/alt/light/EAS.svg") center center no-repeat;
    background-size: cover;
    background-color: var(--east-conf-color);
}
.split.left::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--split-bg-color);
}
.split.right{
    right: 0;
    background: url("https://sportsfly.cbsistatic.com/fly-825/bundles/sportsmediacss/images/team-logos/nba/alt/light/WES.svg") center center no-repeat;
    background-size: cover;
    background-color: var(--west-conf-color);
}
.split.right::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--split-bg-color);
}
.split.left, .split.right, .split.right::before, .split.left::before{
    transition: var(--speed) all ease-in-out;
}
.hover-left .left{
    width: var(--hover-width);
}
.hover-left .right{
    width: var(--other-width);
}
.hover-left .right::before{
    z-index: 2;
}

.hover-right .right{
    width: var(--hover-width);
}
.hover-right .left{
    width: var(--other-width);
}
.hover-right .left::before{
    z-index: 2;
}

.card{
    padding-top: 3%;  
    background-color: transparent;
}


.card-body-east{
    border: solid 10px silver;
    background: linear-gradient(to bottom, #333333,var(--east-conf-color));
    border-radius: 3%;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
                   
}

.card-body-west{
    border: solid 10px silver;
    background: linear-gradient(to bottom, #333333,var(--west-conf-color));
    border-radius: 3%;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
                   
}

.card-body:hover{
    background: #33333380
}

.image-card-body {
    display: block;
    margin: 0 auto;
    width: 60%;
    
}
.image-card-body:hover {
    cursor: pointer;
    
}

.card-body-text{
    color: #ecf0f1;
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Graduate', cursive;
    padding-left: 5%;
    white-space: nowrap;
    overflow: hidden;
}

.text-prop{
    text-align: center;
    font-weight: bold;
}



.container-east{
    background: var(--east-conf-color) center center no-repeat;
    background-size: cover;
}

.container-west{
    background: var(--west-conf-color) center center no-repeat;
    background-size: cover;
}
.fa-arrow-circle-left{
    font-size: 3vw;
    display: flex;
    justify-content: flex-end;
}

.fa-arrow-circle-left:hover{
    cursor: pointer;
}

.fa-arrow-up, .fa-arrow-down{
    margin-left: 1%;
    padding-left: 1%;
    cursor: pointer;
}
#btnRanking{
    margin-left: 10%;
}

.paraBack{
    padding-left: 0.3%;
}

/*Team Colors On Card Hover :
/***************** EAST **********************
*/
.card-AtlantaHawks:hover{
    background-color: var(--atlanta-hawks-color);
    border: solid 10px #C1D32F;
}

.card-BostonCeltics:hover{
    background-color: var(--boston-celtics-color);
    border: solid 10px #963821;
}

.card-BrooklynNets:hover{
    background-color: var(--brooklyn-nets-color);
}

.card-CharlotteHornets:hover{
    background-color: var(--charlotte-hornets-color);
    border: solid 10px #00788C;
}

.card-ChicagoBulls:hover{
    background-color: var(--chicago-bulls-color);
    border: solid 10px #000000;
}

.card-ClevelandCavaliers:hover{
    background-color: var(--cleveland-cavaliers-color);
    border: solid 10px #FFB81C;
}

.card-DetroitPistons:hover{
    background-color: var(--detorit-pistons-color);
    border: solid 10px #006BB6;
}

.card-IndianaPacers:hover{
    background-color: var(--indiana-pacers-color);
    border: solid 10px #002D62;
}

.card-MiamiHeat:hover{
    background-color: var(--miami-heat-color);
    border: solid 10px #F9A01B;
}

.card-MilwaukeeBucks:hover{
    background-color: var(--milwaukee-bucks-color);
    border: solid 10px #EEE1C6;
}

.card-NewYorkKnicks:hover{
    background-color: var(--new-york-knicks-color);
    border: solid 10px #006BB6;
}

.card-OrlandoMagic:hover{
    background-color: var(--orlando-magic-color);
    border: solid 10px #C4CED4;
}

.card-Philadelphia76ers:hover{
    background-color: var(--philadelphia-76ers-color);
    border: solid 10px #ED174C;
}

.card-TorontoRaptors:hover{
    background-color: var(--toronto-raptors-color);
    border: solid 10px #000000;
}

.card-WashingtonWizards:hover{
    background-color: var(--washington-wizards-color);
    border: solid 10px #E31837;
}


/***************** WEST **********************/
.card-DallasMavericks:hover{
    background-color: var(--dallas-mavericks-color);
    border: solid 10px #B8C4CA;
}
.card-DenverNuggets:hover{
    background-color: var(--denver-nuggets-color);
    border: solid 10px #FEC524;
}
.card-GoldenStateWarriors:hover{
    background-color: var(--golden-state-warriors-color);
    border: solid 10px #006BB6;
}
.card-HoustonRockets:hover{
    background-color: var(--houston-rockets-color);
    border: solid 10px #CE1141;
}
.card-LosAngelesClippers:hover{
    background-color: var(--los-angeles-clippers-color);
    border: solid 10px #ED174C;
}
.card-LosAngelesLakers:hover{
    background-color: var(--los-angeles-lakers-color);
    border: solid 10px #552583;
}
.card-MemphisGrizzlies:hover{
    background-color: var(--memphis-grizzlies-color);
    border: solid 10px #00285E;
}
.card-MinnesotaTimberwolves:hover{
    background-color: var(--minnesota-timberwolves-color);
    border: solid 10px #236192;
}
.card-NewOrleansPelicans:hover{
    background-color: var(--new-orleans-pelicans-color);
    border: solid 10px #C8102E;
}
.card-OklahomaCityThunder:hover{
    background-color: var(--oklahoma-city-thunder-color);
    border: solid 10px #EF3B24;
}
.card-PhoenixSuns:hover{
    background-color: var(--phoenix-suns-color);
    border: solid 10px #E56020;
}
.card-PortlandTrailBlazers:hover{
    background-color: var(--portland-trail-blazers-color);
    border: solid 10px #000000;
}
.card-SacramentoKings:hover{
    background-color: var(--sacramento-kings-color);
    border: solid 10px #63727A;
}
.card-SanAntonioSpurs:hover{
    background-color: var(--san-antonio-spurs-color);
    border: solid 10px #000000;
}
.card-UtahJazz:hover{
    background-color: var(--utah-jazz-color);
    border: solid 10px #F9A01B;
}

